@tailwind base;
@tailwind components;
@tailwind utilities;



#selected-note-dropdown{
    animation: top 250ms 1;
}
@keyframes top {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}


.depth-1 {
    margin-left: 10px;
}
.depth-2 {
    margin-left: 20px;
}
.depth-3 {
    margin-left: 30px;
}
.depth-4 {
    margin-left: 40px;
}
.depth-5 {
    margin-left: 50px;
}